/* font-family: 'Orbitron', sans-serif;
font-family: 'Ubuntu', sans-serif; */

* {
  background-color: black;
  color: white;
}

body {
  box-sizing: border-box;
}

.container {
  margin: 5vh auto;

  display: flex;
  flex-flow: row wrap;
  width: min-content;

  border: solid gray 2px;
}

button {
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

.row {
  border: solid green 2px;
}

.display {
  border: solid red 2px;
  display: flex;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  color: black;
  padding: 1.5rem 3rem;
  background-color: azure;
}

.inputs {
  border: dotted yellow 5px;
}
